doctype html

html(ng-app="interviewApp")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="styles/style.css")
    base(href="/")
    title interview app
  body
    include app/header/header
    
    .container(ng-view)
      
    script(src="scripts/script.js")
        
      
      
      
    
  