.well.well-lg
  h4 This is simple home page
  p There's a&nbsp;
    a(href="/#/calculator") calculator
    | &nbsp;and&nbsp;
    a(href="/#/random") random number generator
    | &nbsp;special for you.
  