html,
body {
  height: 100%;
}

body {
  position: relative;
}

.centered-block {
  height: 50%;
  width: 50%;

  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  margin: auto;

  background-color: #777;
  border-radius: 50px;
}

.centered-block:hover {
  box-shadow: 10px 10px 10px #777;
}

